:root {
    --background-color: #f3f0f0;
    font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  
  button {
    font-family: Poppins;
    cursor: pointer;
  }
  
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
  }  

.main-container {
    display: flex;
    justify-content: center;
    gap: 72px;
    margin-top: 24px;
}

.resume-section {
    height: 297mm;
    width: 210mm;
    background-color: white;
}