.main-container {
    display: flex;
    justify-content: flex-end;
    gap: 72px;
}

.main-container, .edit-section {
    max-width: fit-content;
}

.resume-section {
    height: 297mm;
    width: 210mm;
    background-color: white;
}