.info-container {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;
    min-width: 534px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.info-container h2 {
    margin: 0;
}

.info-container-header {
    display: flex;
    justify-content: space-between;
}

.edit-item {
    border-bottom: 4px solid var(--background-color);
}

.edit-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
}

.edit-item button {
    background-color: var(--background-color);
    color: rgb(185, 4, 4);
    border: 2px solid rgb(185, 4, 4);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    font-weight: 700;
}

.edit-item .close {
    color: black;
    font-weight: 400;
}

.add-button {
    background-color: transparent;
    font-size: 16px;
    border: 2px solid rgba(128, 128, 128, 0.842);
    border-radius: 36px;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 6px 18px;
    margin-top: 18px;
}

/* CSS for inputs below */
.input-field h4 {
    margin-top: 14px;
    margin-bottom: 4px;
}

.input-field input {
    width: 450px;
    height: 30px;
    border: none;
    padding: 6px 18px;
    background-color: var(--background-color);
    border-radius: 12px;
    font-family: Poppins;
}

textarea {
    min-width: fit-content;
    width: 450px;
    border: none;
    padding: 6px 18px;
    background-color: var(--background-color);
    border-radius: 12px;
    font-family: Poppins;
    resize: vertical;
}