.info-container {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;
    min-width: fit-content;
}

.info-container h2 {
    margin: 0;
}

.edit-item {
    border-bottom: 4px solid var(--background-color);
}

.edit-item button {
    background-color: white;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    
}
