.info-container {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;
    max-width: fit-content;
}

.info-container h2 {
    margin: 0;
}

.edit-item {
    border-bottom: 4px solid var(--background-color) 
}
